#texto1 {
    text-align: right;
    font-style: italic;
}

#texto2 {
    text-transform: uppercase;
    text-decoration: line-through;
}

#texto3 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 120%;
}

#texto4 {
    font-weight: bold;
    text-shadow: 2px 2px 2px green;
}

div {
    display: inline-block;
    width: 400px;
    height: 200px;
}

#div2 {
    margin: 400px;
    width: 400px;
    height: 400px;
    background-color: red;
    background-image: url(../Sahur2.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 300px;
    border: 2px solid black;
}

#bloquetotal {
    display: flex;
}

#bloque1 {
    background-color: #BED08B;
}

#red1, #tienda1 {
    background-color: red;
}

#red2, #tienda2{
    background-color: green;
}

#red3, #tienda3 {
    background-color: blue;
}

#bloque2 {
    background-color: rgb(59, 218, 218);
}

#bloque3 {
    background-color: rgb(195, 139, 211);
}

a {
    color: white;
}
