#caja {
    max-width: 500px;
    background-color: lightcoral;
    border: 2px solid black;
    padding: 10px;
    margin: 20px;
}

.container {
    width: 80%;
    height: 400px;
    margin: auto;
    padding: 20px;
    background-color: lightgreen;
    border: 2px double darkred;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
}

.item {
    background-color: lightyellow;
    width: 100px;
    height: 100px;
    border: 1px solid blue;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
.card {
  flex: 1 1 30%;
  padding: 1rem;
  border: 1px solid #ddd;
  background-color: #f9f9f9;
}
